@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900");

@media (min-width: 576px) {
  .container {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

@media (min-width: 768px) {
  .container {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
}

.box-contacts > .box-contacts-internal > div > a {
  text-decoration: none;
}

.box-portfolio > .box-portfolio-internal > p > a {
  text-decoration: none;
}

h2#typed-text-title {
  color: #A4D2FA;
}

.typewriter-container h2 span.cursor {
  display: inline-block;
  background-color: #A4D2FA;
  margin-left: 0.1rem;
  width: 1px;
  animation: blink 1s infinite;
}

.typewriter-container h2 span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #A4D2FA;
  }
  49% {
    background-color: #A4D2FA;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #A4D2FA;
  }
}

.homepage-boxes {
  padding: 15px;
}

.homepage-boxes .title-hidden {
  visibility: hidden;
}

.homepage-boxes h2,
.homepage-boxes h3,
.homepage-boxes h4 {
  font-size: 18px;
}

.homepage-boxes h2 {
  color: #888888;
  font-weight: bold;
}

.homepage-boxes h3 {
  font-weight: bold;
}

.homepage-boxes p {
  font-size: 14px;
  color: #666666;
}

.homepage-boxes h3.title {
  margin-bottom: 20px;
}

.col-12.box-photo {
  background: url(../images/luis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 10px 10px 10px 10px;
  background-clip: border-box;
}

.col-12.box-photo .box-internal-line {
  height: 100%;
  border: 2px solid whitesmoke;
}

.col-12.box-presentation {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
}

.col-12.box-presentation .box-presentation-internal {
  background-color: whitesmoke;
  height: 100%;
  border: 2px solid #5D716B;
  padding: 15px;
}

.col-12.box-contacts {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
}

.col-12.box-contacts .box-contacts-internal {
  background-color: whitesmoke;
  height: 100%;
  border: 2px solid #A4D2FA;
  padding: 15px;
}

.col-12.box-contacts .morada {
  margin-top: 20px;
}

.box-contacts .cellphone:hover i {
  color: #666666;
}

.box-contacts .whatsapp:hover i {
  color: #666666;
}

.box-contacts .email:hover i {
  color: #666666;
}

.box-contacts .skype:hover i {
  color: #666666;
}

.col-12.box-services {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
}

.col-12.box-services .box-services-internal {
  background-color: whitesmoke;
  height: 100%;
  border: 2px solid #DE9271;
  padding: 15px;
}

.col-12.box-services .icon {
  color: #888888;
  font-size: 30px;
}

.col-12.box-services .service-1:hover .icon {
  color: #DE9271;
}

.col-12.box-services .service-2:hover .icon {
  color: #DE9271;
}

.col-12.box-services .service-3:hover .icon {
  color: #DE9271;
}

.col-12.box-services .service-4:hover .icon {
  color: #DE9271;
}

.col-12.box-services h4 {
  color: #525252;
}

.col-12.box-portfolio {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
}

.col-12.box-portfolio .box-portfolio-internal {
  background-color: whitesmoke;
  height: 100%;
  border: 2px solid #A4D2FA;
  padding: 15px;
}

.box-portfolio p a:hover span {
  color: #A4D2FA;
}

.box-presentation-internal .title {
  margin-top: 15px;
}

.presentation-text {
  margin-top: 15px;
}

.presentation-links {
  margin-top: 35px;
}

.btn-outline-primary.button-cv-linkedin {
  color: #666666;
  background-color: whitesmoke;
  border: 2px solid #A4D2FA;
  border-radius: 0px;
  font-weight: bold;
}

.btn-outline-primary.button-cv-linkedin:hover {
  background-color: #A4D2FA;
  color: whitesmoke;
  border: 2px solid #A4D2FA;
}

.button-cv-linkedin {
  margin-bottom: 20px;
  margin-right: 20px;
}

.image-description {
  margin-top: 15px;
}

.box-portfolio-internal #carouselFade .carousel-control-prev .carousel-control-prev-icon {
  display: none;
}

.box-portfolio-internal #carouselFade .carousel-control-prev::before {
  content: "\f053";
  font-family: 'FontAwesome';
  color: #A4D2FA;
  margin-left: 10px;
  font-size: 20px;
}

.box-portfolio-internal #carouselFade .carousel-control-next .carousel-control-next-icon {
  display: none;
}

.box-portfolio-internal #carouselFade .carousel-control-next::before {
  content: "\f054";
  font-family: 'FontAwesome';
  color: #A4D2FA;
  margin-right: 10px;
  font-size: 20px;
}

.box-portfolio-internal > p > a {
  color: #666666;
}

.box-portfolio-internal > p > a span {
  color: #DE9271;
}

.box-contacts-internal i {
  color: #DE9271;
}

.box-contacts-internal div a span {
  color: #666666;
}

.contact-icons {
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
