@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900');

.container {
  // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    margin-top: 2vh;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    margin-top: 3vh;
  }

  // Large devices (desktops, 992px and up)
  // @media (min-width: 992px) { ... }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    margin-top: 4vh;
  }
}

// Changing words with typewriter effect

.typewriter-container h2 span.cursor {
  display: inline-block;
  background-color: #888888;
  margin-left: 0.1rem;
  width: 1px;
  animation: blink 1s infinite;
}
.typewriter-container h2 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #888888; }
  49% { background-color: #888888; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #888888; }
}

// General

.homepage-boxes {
  .title-hidden {
    visibility: hidden;
  }
  padding: 15px;
  h2,
  h3,
  h4 {
    font-size: 18px;
  }
  h2 {
    color: #888888;
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  p {
    font-size: 14px;
    color: #666666;
  }
  h3.title {
    margin-bottom: 20px;
  }
}
.col-12.box-photo {
  background: url(../images/luis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 400px;
  padding: 10px 10px 10px 10px;
  background-clip: border-box;
  // margin: 20px;
  // padding: 20px;
  // border: 10px solid rgba(245, 245, 245, .5);
  // color: white;
  .box-internal-line {
    height: 100%;
    border: 2px solid whitesmoke;
  }
  // .box-internal-opacity {
  //   border-top: 10px solid rgba(245, 245, 245, .5);
  // }
}
.col-12.box-presentation {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
  .box-presentation-internal {
    background-color: whitesmoke;
    height: 100%;
    border: 2px solid #5D716B;
    padding: 15px;
  }
}
.col-12.box-contacts {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
  .box-contacts-internal {
    background-color: whitesmoke;
    height: 100%;
    border: 2px solid #A4D2FA;
    padding: 15px;
  }
  .morada {
    margin-top: 10px;
  }
}
.col-12.box-services {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
  .box-services-internal {
    background-color: whitesmoke;
    height: 100%;
    border: 2px solid #DE9271; 
    padding: 15px; 
  }
  .icon {
    color: #888888;
    font-size: 30px;
  }
  h4 {
    color: #525252;
  }
}
.col-12.box-portfolio {
  background-color: whitesmoke;
  color: #3d3d3d;
  padding: 10px 10px 10px 10px;
  .box-portfolio-internal {
    background-color: whitesmoke;
    height: 100%;
    border: 2px solid #A4D2FA; 
    padding: 15px; 
  }
}

// Download CV button

.btn-outline-primary.button-cv {
  color: #3d3d3d;
  background-color: whitesmoke;
  border: 2px solid #A4D2FA;
  border-radius: 0px;
}
.btn-outline-primary.button-cv:hover {
  background-color: #A4D2FA;
  color: #666666;
  border: 2px solid #A4D2FA;
}
