 body {
  background-color: #F4F4F4;
  color: #363636;
  font-family: "Helvetica", "sans-serif";
  text-align: center;
}

p {
  font-family: "Ubuntu", "sans-serif";
}

ul {
  list-style: none;
}

li {
  margin: 15px;
}

a {
  color: #363636;
  text-decoration: none;
  font-family: "Ubuntu", "sans-serif";
  opacity: .6;
}

a:hover {
  opacity: 1;
}

.center-div {
     margin: 0 auto;
     width: 800px;
     padding: 30px;
}

.inner-center-div {
     margin: 0 auto;
     width: 0 auto;
     padding: 30px;
}

.profile-picture {
  border-radius: 50%;
  opacity: 1;
}

.profile-picture:hover {
  border-radius: 50%;
  opacity: .6;

}

.logo {
  opacity: .6;
  height: 120px;
  padding: 20px;
}

.red {
  color: red;
}

.button-wrapper {
  display: block;
  text-align: center;
  padding: 30px;
}

.button {
  border: none;
  border-radius: 3em;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
}

.cta-button {
  background-color: red;
  color: white;
  opacity: .6;
}

.cta-button:hover {
  opacity: 1;
}

.logo:hover {
  opacity: 1;
}
